/breaks.py
/conditionals.py
/copying.py
/emoji.py
/first_program.py
/guessing.py
/loops.py
/mileageConverter.py
/print(1+3) #comment.py
/rockPaperScissors.py
/rockPaperScissors2.py
/rockPaperScissors3.py
/screaming.py
/unluckyNumbers.py
/variablePractice.py
/while.py